html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 970px;
  height: 250px;
  cursor: pointer;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #647785; }
  #mainContent img,
  #mainContent button,
  #mainContent div {
    position: absolute; }

#playbtn {
  left: 66px;
  bottom: 2px; }

#replay {
  right: 36px;
  top: 5px; }

.btn {
  width: 23px;
  height: 17px;
  cursor: pointer;
  background: #fb9700; }

#myProgress {
  width: 74%;
  height: 5%;
  top: 233px;
  left: 97px;
  border: 1px solid black;
  background-color: #ddd; }

#myBar {
  height: 10px;
  background-color: #039BE5;
  bottom: 0px;
  left: 0px; }

button:focus,
:active {
  outline: none; }

#muteUnmute.mute {
  bottom: 1px;
  right: 86px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background: url(../img/mute.png);
  background-size: 100%; }

#muteUnmute.unmute {
  bottom: 1px;
  right: 86px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  background: url(../img/unmute.png);
  background-size: 100%; }

#bgExit {
  width: 970px;
  height: 250px;
  top: 0;
  left: 0;
  cursor: pointer; }
